# Ignore files and directories created during runtime
/downloads
/downloads_csv
.zip

# Ignore environment files and virtual environments
.env
/venv

# Ignore Python cache files
__pycache__/

# Ignore music files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.m4a
*.wma
*.alac